*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

p,
a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
